[
  {
    "type": "relay",
    "id": 1,
    "name": "Hudba",
    "pin": 12,
    "defaultState": true
  },
  {
    "type": "relay",
    "id": 2,
    "name": "Svetlo",
    "pin": 13,
    "defaultState": false
  },
  {
    "type": "pir",
    "id": 3,
    "name": "Izba1",
    "pin": 4
  }
]